
body {background-color: white;}

h1 {color: rgb(44, 42, 42);
border-width: 5px;
border-style: solid;
border-color: rgb(131, 151, 131);}

h2 {color: rgb(164, 135, 173);
border-width: 5px;
border-style: solid;
border-color: rgb(142, 163, 231);}  
